{% load static %}

{% load date_time_diff_tags %}
<nav class="navbar navbar-default no-margin">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header fixed-brand">
       <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" id="menu-toggle">
          <span class="glyphicon glyphicon-menu-hamburger"></span>
        </button>
         <a class="navbar-brand" href="#"><img src="{% static 'img/logo.png' %}"></a>
      </div>
      <!-- navbar-header-->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
         <ul class="nav navbar-nav">
            <li class="active">
               <button class="navbar-toggle collapse in" data-toggle="collapse" id="menu-toggle-2"> <span class="glyphicon glyphicon-th-large" aria-hidden="true"></span>
               </button>
            </li>
         </ul>
         <ul class="nav navbar-nav navbar-right navprofile">
        <li class="dropdown">
  
            <img src="{{ request.profile.profile_image.url }}" class="navimg">

        
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ user.username }}<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/dashboard/{{ user.id }}">Profile</a></li>
            <li><a class="dropdown-item" href="/change-password/">Change Password</a></li>
            <li> <a class="dropdown-item" href="/logout/">Log out</a></li>
          </ul>
        </li>
      </ul>
      </div>
      
    <!-- bs-example-navbar-collapse-1 -->
</nav>

<style>
 .navbar-brand>img {
    display: block;
    width: 180px;
}
</style>