<!DOCTYPE html>
<html>
   <head>
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500" rel="stylesheet">
   </head>
   <body>
      <table width="100%" cellpadding="0" cellspacing="0" align="center" bgcolor="#fff" style="color: #000;padding-top: 56px;font-family: 'Montserrat', sans-serif;">
         <tr>
            <td>
               <div style="text-align:center;">
                  <section style="text-align: center; "bgcolor="#23262a;">
                     <h1 style="font-size: 22px;color: #000;padding: 0px;margin: 38px 0px 28px 0px;font-weight: 600;text-align:center">
                        Hi, 
                     </h1>
                     <h2>Leave has been approved for {{daytype}}</h2>
                     <div style="padding:0px; line-height:30px;margin:56px 0px;font-size: 18px;color:#abacad; text-align:center">
                        <table bgcolor="#000" align="center" cellpadding="2" cellspacing="1" style="border:1px solid #e5e5e5; width:600px;">
                           <tbody>
                              <tr>
                                 <td bgcolor="#ffffff" style="color:#000;font-weight: 600;">Leave Applied By</td>
                                 <td bgcolor="#ffffff" style="color: #000;">{{user|capfirst}}</td>
                              </tr>
                              <tr>
                                 <td bgcolor="#ffffff" style="color:#000;font-weight: 600;">Leave Approved By </td>
                                 <td bgcolor="#ffffff" style="color: #000;">{{accept_user|capfirst}}</td>
                              </tr>
                              <tr>
                                 <td bgcolor="#ffffff" style="color:#000;font-weight: 600;"> Date</td>
                                 <td bgcolor="#ffffff" style="color: #000;">  
                                    {{startdate}}
                                    {% if enddate %}
                                    - {{enddate}}
                                    {% else %}
                                    {% endif %}
                                 </td>
                              </tr>
                              <tr>
                                 <td bgcolor="#ffffff" style="color:#000;font-weight: 600;">Reason</td>
                                 <td bgcolor="#ffffff" style="color: #000;">{{reason|capfirst}}</td>
                              </tr>
                           </tbody>
                        </table>
                     </div>
                  </section>
               </div>
            </td>
         </tr>
      </table>
   </body>
</html>