<table class = "table" border="1"> 
  <thead>
    <tr>    
      <th>Intime</th>
      <th>Outtime</th>
      <th>Login Hours</th>
    </tr>
  </thead>
  <tbody class="my-popup">

    <tr>
        <td style="text-align: center;"data-toggle="modal" data-target="#myModal"><p>
        {{in_time_hour}}:{{in_time_minute}}
        </td>
        <td style="text-align: center;">
            {{out_time_hour}}:{{out_time_minute}}
        </td>
        <td style="text-align: center;">
          {{login_time}}
<!--           {% if emp_att.in_time == emp_att.out_time %}--:--{% else %}{{ emp_att.date_time_diffrence }}{% endif %}</td> -->
    </tr>
  </tbody>
</table>


    



    