{% extends 'base.html' %}
{% load widget_tweaks %}
{% load staticfiles %}
{% block content %}

<!DOCTYPE html>
      <form method="post" class="client_update">
       {% csrf_token %}
      <b>Client Name :</b><input type="text" name="client_name" class="form-control" value="{{client.client_name}}"><br>
      <b>Client Refrences :</b><input type="text" name="client_refrences" class="form-control" value="{{client.client_refrences}}"><br>
       <input type="submit"class="btn btn-primary btn-lg"  value="UPDATE RECORD">
   </form>
{% endblock %}
