{% extends 'base.html' %}
{% load widget_tweaks %}
{% load staticfiles %}
{% block content %}
{%if request.user.is_superuser%}
 <h3 class="top-heading">Client Information Dashboard</h3>
 <table border="5" class="table datatable">
 <thead >
 <th>Client Name</th>
 <th>Client Refrences</th>
 <th>Actions</th>
 </thead>
 {% for clients in client %}
 <tr>
 <td>{{clients.client_name}}</td>
 <td>{{clients.client_refrences}}</td>
 <td> <a class="sameicon pencilicon" href="/update_client/{{clients.id}}"><span class="glyphicon glyphicon-pencil" title="Update"></span></a> <a  class="sameicon delete" href="/delete_client/{{clients.id}}"><span class="glyphicon glyphicon-trash" title="Delete"></span></a></td>
 </tr>
 {% endfor %}
 </table><br>
 <a href="/create_client" class="btn btn-success btn-lg">INSERT NEW client</a>
  {% endif %}
  {% endblock %}

