{% extends 'base.html' %}
{% load static %}
{% block content %}

    <h3 class="employeehead">Show All Leave</h3><br>
        <div class="card">
    <div class="search-container">
        <div class="table-responsive">
     <table class = "table table-striped" id="myTable1">
        <thead>
          <tr>
            <th>Sno.</th>
            <th>Employee</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Start Time</th>
            <th>End Time</th>
            <th>Type</th>
            <th>Status</th>
            <th>Leave Request</th>
          </tr>
        </thead>
            <tbody>
                {% for leave in object_list %}
                  <tr>
                    <td>{{ forloop.counter }}</td> 
                    <td>{{ leave.user }}</td>   
                    <td>{{ leave.startdate }}</td>
                    <td>{{ leave.enddate }}</td>
                    <td>{{ leave.starttime }}</td>
                    <td>{{ leave.endtime }}</td>
                    <td>{{ leave.get_leave_type_display }}</td>
                    <td>{{ leave.get_status_display }}</td>
                    <td><button type="button btn btn-danger" data-leave-id="{{leave.id}}" data-leave_status="{{ leave.get_status_display }}" data-start_date="{{leave.startdate|date:'Y-m-d'}}" data-end_date="{{leave.enddate|date:'Y-m-d'}}" id="leave">Delete</button></td>
                </tr>
                {% endfor %}
            </tbody>
      </table>
    </div>
  </div>
</div>



<script>
$(document).ready(function(){
    $(document).on('click', '#leave', function(e){
      e.preventDefault();
      var leave_id = $(this).data("leave-id");
      var leave_status = $(this).data("leave_status");
      var start_date = $(this).data("start_date");
      var end_date = $(this).data("end_date");
      $.ajax({
        url: "{% url "employee:del-leave-list" %}",
        'type': "POST",
        data: {
          'leave_id': leave_id,
          'leave_status':leave_status,
          'start_date':start_date,
          'end_date':end_date,
          'csrfmiddlewaretoken': '{{ csrf_token }}',
        },
        success: function(response) {
           
            if(response.status=="success"){
             
                alert("Delete Leave Successfully")
                location.reload();
                
             
                
              }

            }
      });

    });
    });
  </script>   

{% endblock %}