{% extends 'base.html' %}
{% load static %}
{% block content %}

    <h3>Leaves</h3><br>
    <div class="search-container">
     <table class = "table" id="myTable1" border="2">
        <thead>
          <tr>
            <th>Sno.</th>
            <th>Employee</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Start Time</th>
            <th>End Time</th>
            <th>Type</th>
            <th>Status</th>
            <th>Leave Request</th>
          </tr>
        </thead>
            <tbody>
                {% for leave in object_list %}
                  <tr>
                    <td>{{ forloop.counter }}</td> 
                    <td>{{ leave.user }}</td>   
                    <td>{{ leave.startdate }}</td>
                    <td>{{ leave.enddate }}</td>
                    {% if leave.starttime %}
                      <td>{{ leave.starttime }}</td>
                    {% else %}
                      <td>11.00 a.m.</td>
                    {% endif %}
                    {% if leave.endtime %}
                    <td>{{ leave.endtime }}</td>
                    {% else %}
                      <td>8.00 p.m.</td>
                    {% endif %}
                    
                    <td>{{ leave.get_leave_type_display }}</td>
                    <td>{{ leave.get_status_display }}</td>
                    <td>
                    {% if leave.status != 2  %}  
                    <button type="button btn-success" data-leave-id="{{leave.id}}" data-leave-user="{{leave.user}}" data-leave_status="2" data-type="{{ leave.get_leave_type_display }}" class="leave btn btn-success">Approve</button>
                    {% endif %}  
                     {% if leave.status != 3  %} 
                    <button type="button btn btn-danger" data-leave-id="{{leave.id}}" data-leave-user="{{leave.user}}" data-leave_status="3" data-type="{{ leave.get_leave_type_display }}" class="leave btn btn-danger">Reject</button>
                    {% endif %} 
                    </td>
                </tr>
                {% endfor %}
            </tbody>
      </table>
    </div>

{% endblock %}

<!--java script -->
{% block script %}
{{ block.super }}

<script>
    $(".leave").on('click', function (e) {
      e.preventDefault();
      var leave_id = $(this).data("leave-id");
      var leave_status = $(this).data("leave_status");
      var leave_user = $(this).data("leave-user");
      var leave_type = $(this).data("type");
      $.ajax({
        url: "{% url "employee:full-leave-status" %}",
        'type': "POST",
        data: {
          'leave_id': leave_id,
          'leave_status':leave_status,
          'leave_user':leave_user,
          'leave_type':leave_type,
          'csrfmiddlewaretoken': '{{ csrf_token }}',
        },
      success: function(response) {
           
            if(response.status=="success"){
              if(leave_status == 2){
                alert("Accepted leave request for "+leave_user)
                location.reload();
                }
              else{
                alert("Rejected leave request for "+leave_user)
                location.reload();
                  }
                
              }

            }
      });

    });
  </script>   

{% endblock %}