{% extends 'base.html' %}
{% load static %}
{% block content %}
  
    <h3 class="employeehead">My Leaves</h3>
    <span class="pull-right back-button" onClick="javascript:history.go(-1);">
       Back
      </span>
    <div class="search-container">
   
    <div class="card">
      <div class="table-responsive">
        <div class="lds-dual-ring"></div>
     <table class = "table table-striped" id="myTable1">
        <thead>
          <tr>
            <th>S.No.</th>
            <th>Request Date</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Start Time</th>
            <th>End Time</th>
            <th>Type</th>
            <th>Selected Leave</th>
            <th>Status</th>
            <th>reason</th>
          </tr>
        </thead>
            <tbody>
                {% for leave in object_list %}
                  <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{leave.created_at|date:'D,d M Y'}}</td>   
                    <td>{{ leave.startdate|date:'D,d M Y' }}</td>
                    <td>{{ leave.enddate|date:'D,d M Y' }}</td>
                    {% if leave.starttime %}
                      <td>{{ leave.starttime }}</td>
                    {% else %}
                      <td>11.00 a.m.</td>
                    {% endif %}
                    {% if leave.endtime %}
                    <td>{{ leave.endtime }}</td>
                    {% else %}
                      <td>8.00 p.m.</td>
                    {% endif %}
                    
                    <td>{{ leave.get_leave_type_display }}</td>
                    <td>{{ leave.get_select_leave_display }}</td>
                    <td>{{ leave.get_status_display }}</td>
                    <td>{{ leave.leavedetails.first.reason }}</td>
                </tr>
                {% endfor %}
            </tbody>
      </table>
    </div>
    </div>
    </div>
 

{% endblock %}