<table border="5" id ='selectemp' class="table table-stripped dataTable no-footer">
   <thead >
      <th> Employe name</th>
      <th>Project name</th>
      <th>Actions</th>
   </thead>
   {% for assigns in assign %}
   <tr>
      <td>{{assigns.employe.username}}</td>
      <td>{{assigns.project.project_name}}</td>
      <td> <a class="btn btn-primary " href="/assign_project_update/{{assigns.id}}">UPDATE</a>  <a class="btn btn-primary " href="/assign_project_delete/{{assigns.id}}">DELETE</a></td>
   </tr>
   {% endfor %}
</table>
<br>