{% extends 'base.html' %}
{% load widget_tweaks %}
{% load staticfiles %}
{% block content %}
<!DOCTYPE html>
     <h1>Project Information Update Form</h1>
     <form method="post">
       {% csrf_token %}
       Client :<input type="text" name="client" value="{{project.client.id}}"><br>
       Project Name :<input type="text" name="project_name" value="{{project.project_name}}"><br>
       Project description  :<input type="text" name="project_description" value="{{project.project_description}}"><br><hr><hr><hr>
       <input type="submit"class="btn btn-primary btn-lg"  value="UPDATE RECORD">
   </form>
{% endblock %}