{% extends 'base.html' %}
{% load static %}    
{% block title %}{% endblock %}
{% block content %} 

<style>

.helptext{
  visibility: hidden;
}

</style>

<div class="card card_width">
	<h3 class="top-heading">Change Password</h3><br>

     {% if messages %}
                <ul class="messages">
                  {% for message in messages %}
                    {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %} 
                    <div class="alert alert-danger">
                        <strong>{{ message }}</strong>
                    </div>
                    {% else %}
                    <div class="alert alert-success">
                        <strong>{{ message }}</strong>
                    </div>   
                    {% endif %}
                  {% endfor %}
                </ul>
            {% endif %}

            {% if error %}
                  <div class="alert alert-danger">
                      <strong>{{ error|escape }}</strong>
                  </div>
            {% endif %}
            {% if form.errors %}
                {% for field in form %}
                    {% for error in field.errors %}
                        <div class="alert alert-danger">
                            <strong>{{ error|escape }}</strong>
                        </div>
                    {% endfor %}
                {% endfor %}
                {% for error in form.non_field_errors %}
                    <div class="alert alert-danger">
                        <strong>{{ error|escape }}</strong>
                    </div>
                {% endfor %}
            {% endif %}
    <form action="" method="post">
                {% csrf_token %} 
                <div class="row"> 
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 form-inner">
                        <label for="pwd">Old Password:</label>
                        {{ form.old_password}}
                    </div>

                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 form-inner">
                        <label for="pwd">New Password:</label>
                        {{ form.new_password }}
                    </div>

                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 form-inner">
                        <label for="pwd">Confirm Password:</label>
                        {{ form.re_new_password }}
                    </div>
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 form-inner">
                        <button class="background_colorbtn mt-20">Change Password</button>  
                    </div>
                </div>              
            </form>
</div>


{% endblock %}


