<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Daily Report</title>
</head>
<body>

<form action="{% url '' %}" method="post">
     <label for="ename">Employee Name:</label><br>
     <input type="text" id="ename" name="ename"><br>
     <label for="ecode">Employee Code:</label><br>
     <input type="text" id="ecode" name="ecode">
     <label for="pname">Project Name:</label><br>
     <input type="text" id="pname" name="pname">
     <label for="date">Employee Code:</label><br>
     <input type="text" id="date" name="date">
     <label for="psummary">Project Name:</label><br>
     <textarea rows = "5" cols = "60" id="psummary" name = "description"></textarea>
     <label for="timetaken">Project Name:</label><br>
     <input type="text" id="timetaken" name="timetaken">

</form>

</body>
</html>