<table id ='selectemp' border="5" class="table datatable">
	<thead >
		<th class="sorting_asc">Date</th> 	
		<th class="sorting">employe name</th>
		<th class="sorting">Project name</th>
		<th class="sorting">Day summary</th>
		<th class="sorting">Time taken</th>
	</thead>
	{% for daily_update in daily_updates %}
		<tr>
			<td>{{daily_update.date}}</td>
			<td>{{daily_update.project_name.employe.username}}</td>
			<td>{{daily_update.project_name.project.project_name}}</td>
			<td>{{daily_update.project_summary}}</td>
			<td>{{daily_update.time_taken}}</td>

		</tr>
	{% endfor %}
</table>
