<!DOCTYPE html>
<html lang="en">
<head>
  <title>Login</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>

{% load widget_tweaks %}
{% load staticfiles %}
{% load i18n %}
<!-- {% if messages %}
    {% for message in messages %}
        {{ message }}
    {% endfor %}
{% endif %} -->
<ul class="messages">
        {% for message in messages %}
            
                {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %} 
                <div class="alert alert-danger">
                    <strong>{{ message }}</strong>

                </div>
                    {% else %}
                     
                        <div class="alert alert-success">
                            <strong>{{ message }}</strong>

                        </div>   
                {% endif %}
          
        {% endfor %}
    </ul>

{% if error %}
    <div class="alert alert-danger">
        <strong>{{ error|escape }}</strong>
    </div>
{% endif %}
{% if form.errors %}
    {% for field in form %}
        {% for error in field.errors %}
            <div class="alert alert-danger">
                <strong>{{ error|escape }}</strong>
            </div>
        {% endfor %}
    {% endfor %}
    {% for error in form.non_field_errors %}
        <div class="alert alert-danger">
            <strong>{{ error|escape }}</strong>
        </div>
    {% endfor %}
{% endif %}


<div class="container">
  <div class="card">
  <h2>Login</h2>

  <form class="form-horizontal" action="" method="post">
    {% csrf_token %}  
      <div class="form-group formmargin_none">
        <label for="email">Username:</label>
        {{ form.username|add_class:"form-control"|attr:"required:true"|attr:"placeholder:Username" }}
      </div>
      <div class="form-group">
        <label for="pwd">Password:</label>
        {{ form.password|add_class:"form-control"|attr:"required:true"|attr:"placeholder:Password" }}
      </div>
      
      <button type="submit" class="btn btn-success">Login</button>
      <a href="{% url 'employee:forgot_password' %}">Forgot Password</a>
    </form>
  </div>
</div>
    
</body>  