{% extends 'base.html' %}
{% load widget_tweaks %}
{% load staticfiles %}
{% block content %}


<form class="form-horizontal signup_form" method="POST" action="{% url 'employee:signup' %}" enctype="multipart/form-data" class="form-horizontal"> 
<h2>Signup form</h2>
  {% csrf_token %}
      
  <p>Username  :<br>{{ user_form.username }}</p>{{user_form.errors}}
  <p>Password  :<br>{{ user_form.password1 }}</p>
  <p>Confirm Password  :<br>{{ user_form.password2 }}</p>
  <p>First Name:<br>{{ user_form.first_name }}</p>
  <p>Last Name :<br>{{ user_form.last_name }}</p>
  <p>Email     :<br>{{ user_form.email }}</p>
  <p>Employee Id :<br>{{ profile_form.employee_id }}</p>
  <p>Contact   :<br>{{ profile_form.contact_no }}</p>
  <p>Designation   :<br>{{ profile_form.designation }}</p>{{profile_form.errors}}

  <p>NOTE : Date Format :YYYY-MM-DD</p>
  <p>DOB       :<br>{{ profile_form.date_of_birth }}</p>
  <p>DOJ       :<br>{{ profile_form.date_of_joining}}</p>
  <p>Teamlead   :<br>{{ profile_form.teamlead }}</p>


      <button type="submit" class="btn btn-success sub_btn">Submit</button>
</form>

{% endblock %} 