{% extends 'base.html' %}
{% load widget_tweaks %}
{% load staticfiles %}
{% block content %}
{% if report_week == current_week %}
<form method="post">
   {% csrf_token %}
   <div class="fieldWrapper">
      date:<input type="text" name="date" value="{{edit_report.date}}"><br>
      project_name:<input type="text" name="project_name" value="{{edit_report.project_name.id}}"><br>
      project_summary:<input type="text" name="project_summary" value="{{edit_report.project_summary}}"><br>
      time_taken:
      <th><input type="time" name ='time' min="00:00" max="12:00"  value="{{edit_report.time_taken}}" required=''></th>
      <br>
      <input type="submit"class="btn btn-primary btn-lg"  value="UPDATE RECORD">
   </div>
</form>
{% else %}
<script type="text/javascript">
   alert("you can't edit this report");
   window.history.back();
   
</script>
{% endif %}
{% endblock %}