{% extends 'base.html' %}
{% load widget_tweaks %}
{% load staticfiles %}    
{% block title %}{% endblock %} 

{% block content %} 
<p>{{form.errors}}</p>

<form method="POST" class="post-form" action="/update/{{employee.id}}">  
        {% csrf_token %}  
    <div class="container">  
<br>  
    <div class="form-group row">  
    <label class="col-sm-1 col-form-label"></label>  
    <div class="col-sm-4">  
    <h3>Update Employee Details</h3>
    <p>{{ designation }}</p>  
    </div>  
  </div>
    <div class="form-group row">  
    <label class="col-sm-2 col-form-label">Username:</label>  
    <div class="col-sm-4">  
        <input type="text" name="user" id="id_user" required maxlength="20" value="{{ employee.user }}"/>  
    </div>  
  </div>  
  <div class="form-group row">  
    <label class="col-sm-2 col-form-label">Employee ID:</label>  
    <div class="col-sm-4">  
        <input type="employee_id" name="employee_id" id="id_employee_id" required maxlength="100" value="{{ employee.employee_id }}" />  
    </div>  
  </div>  
    <div class="form-group row">  
    <label class="col-sm-2 col-form-label">Contact:</label>  
    <div class="col-sm-4">  
        <input type="text" name="contact_no" id="id_contact_no" required maxlength="254" value="{{ employee.contact_no }}" />  
    </div>  
  </div>  
    <div class="form-group row">  
    <label class="col-sm-2 col-form-label">Designation:</label>  
    <div class="col-sm-4">  
        <input type="text" name="designation" id="id_designation" required maxlength="15" value="{{ employee.designation }}" />  
    </div>  
  </div>  
    <div class="form-group row">  
    <label class="col-sm-2 col-form-label">Date Of Birth:</label>  
    <div class="col-sm-4">  
        <input type="text" name="date_of_birth" id="id_date_of_birth" required maxlength="15" value="{{ employee.date_of_birth|date:"Y-m-d" }}" />  
    </div>  
  </div>
  <div class="form-group row">  
    <label class="col-sm-2 col-form-label">Date Of joining:</label>  
    <div class="col-sm-4">  
        <input type="text" name="date_of_joining" id="id_date_of_joining" required maxlength="15" value="{{ employee.date_of_joining|date:"Y-m-d" }}" />  
    </div>  
  </div>
  <div class="form-group row">  
    <label class="col-sm-2 col-form-label">Teamlead:</label>  
    <div class="col-sm-4">
        <select title="Select a teamlead">
        {% for tl in teamleads %}
                <option>{{tl}}</option>
        {% endfor %}
        </select> 
    </div>  
  </div>
    <div class="form-group row">  
    <label class="col-sm-1 col-form-label"></label>  
    <div class="col-sm-4">  
    <button type="submit" class="btn btn-success">Update</button>  
    </div>  
  </div>  
</div>
</form>
{% endblock %}
