{% extends 'base.html' %} 
{% load staticfiles %}    
{% block title %} 

<form method="POST" class="post-form" action="/update/{{employee.id}}">
  {% csrf_token %}
  
  {{ form.as_p }}   
  <p>Employee user :{{ employee.user }}</p>
  <p>Employee Id :{{ employee.employee_id }}</p>
  <p>Contact   :{{ employee.contact_no }}</p>
  <p>Designation   :{{ employee.designation }}</p>
  <p>DOB       :{{ employee.date_of_birth }}</p>
  <p>DOJ       :{{ employee.date_of_joining }}</p>
  <p>Teamlead   :{{ employee.teamlead }}</p>

      <button type="submit">update</button>
</form>
 {% include "calender.html" %}
{% endblock %}