{% extends 'base.html' %}

{% block content %}

<h2>Welcome : {{ employee.username }}</h2> 

    <p>Username  :{{ employee.username }}</p>
    <p>First name:{{ employee.first_name }}</p>
    <p>Last name :{{ employee.last_name }}</p>
    <p>Email     :{{ employee.email }}</p>
    
    <p>ID :{{ employee.profile.employee_id }}</p>
    <p>Contact :{{ employee.profile.contact_no }}</p>
    <p>DOB :{{ employee.profile.date_of_birth }}</p>
    <p>DOJ :{{ employee.profile.date_of_joining}}</p>
    <p>Alloted Leaves : {% if employee.profile.get_leave %} {{ employee.profile.get_leave }}{% else %}N/A{% endif %}</p>

{% endblock %}
