{% extends 'base.html' %}
{% load widget_tweaks %}

{% block content %}

<div class="card profile-card1">
  <h2 class="mt-0">Welcome : {{ employee.username }}</h2> 

  <div class="row">
    <div class="col-md-6 col-xs-12 pl-0">
      <label class="col-xs-4 col-md-4 plmob-0">
        <b> Username:</b>
      </label>
      <div class="col-xs-7 col-md-7 prmob-0">
        <span> {{ employee.username }} </span>
      </div>
    </div>

     <div class="col-md-6 col-xs-12 pl-0">
      <label class="col-xs-4 col-md-4 plmob-0">
        <b> ID:</b>
      </label>
      <div class="col-xs-7 col-md-7 prmob-0">
        <span> {{ employee.profile.employee_id }} </span>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6 col-xs-12 pl-0">
      <label class="col-xs-4 col-md-4 plmob-0">
        <b> First name:</b>
      </label>
      <div class="col-xs-7 col-md-7 prmob-0">
        <span> {{ employee.first_name }} </span>
      </div>
    </div>

    <div class="col-md-6 col-xs-12 pl-0">
      <label class="col-xs-4 col-md-4 plmob-0">
        <b> Last name:</b>
      </label>
      <div class="col-xs-7 col-md-7 prmob-0">
        <span> {{ employee.last_name }} </span>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6 col-xs-12 pl-0">
      <label class="col-xs-4 col-md-4 plmob-0">
        <b> Email:</b>
      </label>
      <div class="col-xs-7 col-md-7 prmob-0">
        <span> {{ employee.email }} </span>
      </div>
    </div>

    <div class="col-md-6 col-xs-12 pl-0">
      <label class="col-xs-4 col-md-4 plmob-0">
        <b> Contact:</b>
      </label>
      <div class="col-xs-7 col-md-7 prmob-0">
        <span> {{ employee.profile.contact_no }} </span>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6 col-xs-12 pl-0">
      <label class="col-xs-4 col-md-4 plmob-0">
        <b> Date of Birth:</b>
      </label>
      <div class="col-xs-7 col-md-7 prmob-0">
        <span> {{ employee.profile.date_of_birth}} </span>
      </div>
    </div>

    <div class="col-md-6 col-xs-12 pl-0">
      <label class="col-xs-4 col-md-4 plmob-0">
        <b> Date of Joining:</b>
      </label>
      <div class="col-xs-7 col-md-7 prmob-0">
        <span> {{ employee.profile.date_of_joining}} </span>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6 col-xs-12 pl-0">
      <label class="col-xs-4 col-md-4 plmob-0">
        <b> Total Paid Leave:</b>
      </label>
      <div class="col-xs-7 col-md-7 prmob-0">
        <span> {% if get_taken_leave.leave__sum %} {{ get_taken_leave.leave__sum }}{% else %} 0  {% endif %} </span>
      </div>
    </div>

    <div class="col-md-6 col-xs-12 pl-0">
      <label class="col-xs-4 col-md-4 plmob-0">
        <b> Total UnPaid Leave:</b>
      </label>
      <div class="col-xs-7 col-md-7 prmob-0">
        <span> {% if get_taken_unpaid_leave.leave__sum %} {{ get_taken_unpaid_leave.leave__sum }}{% else %}  0 {% endif %}</span>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6 col-xs-12 pl-0">
      <label class="col-xs-4 col-md-4 plmob-0">
        <b> Total Yearly:</b>
      </label>
      <div class="col-xs-7 col-md-7 prmob-0">
        <span> {% if total_yearly %} {{ total_yearly }} {% else %} 0  {% endif %} </span>
      </div>
    </div>

    <div class="col-md-6 col-xs-12 pl-0">
      <label class="col-xs-4 col-md-4 plmob-0">
        <b> Available Leave (Current Month)</b>
      </label>
      <div class="col-xs-7 col-md-7 prmob-0">
        <span> {% if total_available_leave %} {{ total_available_leave }}{% else %} 0  {% endif %} </span>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 col-xs-12 pl-0">
      <label class="col-xs-4 col-md-4 plmob-0">
        <b>Working Hours:</b>
      </label>
      <div class="col-xs-7 col-md-7 prmob-0">
        <span> {{ employee.profile.working_time }} Hours</span>
      </div>
    </div>
</div>


   <!--<p>Total Yearly : {% if total_yearly %} {{ total_yearly }} {% else %} 0  {% endif %}</p>
    <p>Available Leave (Current Month) : {% if total_available_leave %} {{ total_available_leave }}{% else %} 0  {% endif %}</p>
    <p>Total Paid Leave : {% if get_taken_leave.leave__sum %} {{ get_taken_leave.leave__sum }}{% else %} 0  {% endif %}</p>
    <p>Total UnPaid Leave : {% if get_taken_unpaid_leave.leave__sum %} {{ get_taken_unpaid_leave.leave__sum }}{% else %}  0 {% endif %}</p>-->
    
    <div class="search-container mt-20">

    <div class="card pt-0">
      <div class="table-responsive">
        <div class="lds-dual-ring"></div>
     <table class = "table table-striped" id="myTable1">
        <thead>
          <tr>
            <th>S.No.</th>
            <th>Request Date</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Start Time</th>
            <th>End Time</th>
            <th>Type</th>
            <th>Selected Leave</th>
            <th>Status</th>
            <th>reason</th>
          </tr>
        </thead>
            <tbody>
                {% for leave in leave_list %}
                  <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{leave.created_at|date:'D,d M Y'}}</td>  
                    <td>{{ leave.startdate|date:'D,d M Y' }}</td>
                    <td>{{ leave.enddate|date:'D,d M Y' }}</td>
                    {% if leave.starttime %}
                      <td>{{ leave.starttime }}</td>
                    {% else %}
                      <td>11.00 a.m.</td>
                    {% endif %}
                    {% if leave.endtime %}
                    <td>{{ leave.endtime }}</td>
                    {% else %}
                      <td>8.00 p.m.</td>
                    {% endif %}
                    
                    <td>{{ leave.get_leave_type_display }}</td>
                    <td>{{ leave.get_select_leave_display }}</td>
                    <td>{{ leave.get_status_display }}</td>
                    <td>{{ leave.leavedetails.first.reason }}</td>
                </tr>
                {% endfor %}
            </tbody>
      </table>
    </div>
    </div>
    </div>
</div>
{% endblock %}
