{% extends 'base.html' %}
{% block content %}

{% if messages %}
    <ul class="messages">
        {% for message in messages %}
            
                {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %} 
                <div class="alert alert-danger">
                    <strong>{{ message }}</strong>

                </div>
                    {% else %}
                     
                        <div class="alert alert-success">
                            <strong>{{ message }}</strong>

                        </div>   
                {% endif %}
          
        {% endfor %}
    </ul>
{% endif %}


<form action="{% url 'employee:file_upload' %}" method="POST" enctype="multipart/form-data" class="form-horizontal"> 
    {% csrf_token %}
    <div class="form-group">
        <label for="name" class="col-md-3 col-sm-3 col-xs-12 control-label">File: </label>
        <div class="col-md-8">
            <input type="file" name="excel_file" id="excel_file" required="True" class="form-control">
        </div>                    
    </div>
    <div class="form-group">                    
        <div class="col-md-3 col-sm-3 col-xs-12 col-md-offset-3" style="margin-bottom:10px;">
            <button class="upload btn btn-primary"> <span class="glyphicon glyphicon-upload" style="margin-right:5px;"></span>Upload</button> 
        </div> 
    </div>
</form>

<script>
//      $(document).ready(function(){
//     $(document).on("click",".upload",function(){
//          onSuccess:function()
//     {
//         alert("File Uploaded successfully");
//     },
//         onError: function()
//     {       
//         alert("Upload Failed");
//     }
// });
// });
</script>

{% endblock %}