{% extends 'base.html' %}
{% block content %}

{% if messages %}
    {% for message in messages %}
        {% if message.tags == 'success' %}
            <div class="alert alert-success" role="alert">{{ message|escape }}</div>
        {% elif message.tags == 'error' %}
            <div class="alert alert-danger" role="alert">{{ message|escape }}</div>
        {% endif %}
    {% endfor %}
{% endif %}
<body>
    
    <div>
        <p>From <input type="text" id="startleave" />
        To <input type="text"  id="endleave" /></p>

   
    </div>
</body>

<script type="text/javascript">
    $(function () {
        var unavailableDay = 0; 
 
        function disableDays(date) {
            var day = date.getDay();
            return [(day != unavailableDay), ""];
        }
 
        $('#startleave').datepicker({
            beforeShowDay: disableDays,
            dateFormat: 'yy-mm-dd'
        });
         $('#endleave').datepicker({
            beforeShowDay: disableDays,
            dateFormat: 'yy-mm-dd'
        });
     
    });
</script>
<!-- for time -->
<p id="datetime">
   
   Time <input type="text" class="time start" /> to
   <input type="text" class="time end" />
</p>

<script>
   $('#datetime .time').timepicker({
      'showDuration': true,
      'timeFormat': 'hh:mm:ss a'
   });
</script>

<div id="results"></div>
<button type="button" id="getBetween" data-leave_type="5" class="btn btn-success">Success</button>

<script>
$('#getBetween').on('click', function (e) {
    e.preventDefault();
    var start = $("#startleave").datepicker("getDate");
        start_date = start.getFullYear() + "-" + (start.getMonth()+1) + "-" + start.getDate()
        end = $("#endleave").datepicker("getDate");
        end_date = end.getFullYear() + "-" + (end.getMonth()+1) + "-" + end.getDate()
    var emp_type = $(this).data("leave_type");    

               $.ajax({
                     'url': '/full/leave/',
                     'type': "POST",
                     'dataType': 'json',
                     'data': {
                         'start_date': start_date,
                         'end_date': end_date,
                         'emp_type':emp_type,
                         'csrfmiddlewaretoken': '{{ csrf_token }}',
                     },
                     success: function(response) {
                        if(response.status=="success"){
                            alert("Request leave successfull")
                            location.reload();
                            }
                        
                        }
                    
                     
       })

});
</script>

{% endblock %}
