{% extends 'base.html' %}
{% load static %}
{% load date_time_diff_tags %}
{% block content %}


<!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-body" id="attendence_model">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
  </div>

<script>
    
$(document).ready(function() {
    var geodata = "{{ attendances_data | safe }}";
    
    $('#calendar').fullCalendar({
            defaultDate: '2019-06-12',
            defaultView: 'month',
            editable: true,
            events: 
            [

              {% for attendance in attendances_data %}
                {
              
                'title':"{{ attendance.date_time_diffrence }} {% if attendance.empatt_leave_status == 5 %} Absent {% elif attendance.empatt_leave_status == 6 %} Leave {% elif attendance.empatt_leave_status == 7 %} NA {% endif %}",
                'date':"{{ attendance.date}}",
                'test':"{{ attendance.empatt_leave_status }}",
                'id':"{{ attendance.id }}",
               }
                {% if not forloop.last %},{% endif %}
                {% endfor %}
            ],
                  eventRender: function (event, element, view) {
                       var test = event.test;
                       var title = event.title.split(":");
                       var total_hour = parseFloat(title[0]);
                       var calculation = parseFloat("9:00");
                       var id = event.id;
                       if (test==5) {
                           var dateString = $.fullCalendar.formatDate(event.start, 'yyyy-MM-dd');
                           view.element.find('.fc-day[data-date="' + dateString + '"]').css('background', '#5d5d5d').append().attr("id",id).attr("class","timedetail");
                            }
                        if (test==6) {
                           var dateString = $.fullCalendar.formatDate(event.start, 'yyyy-MM-dd');
                           view.element.find('.fc-day[data-date="' + dateString + '"]').css('background', '#ff6e00').append().attr("id",id).attr("class","timedetail");
                            }
                        if (test==7) {
                           var dateString = $.fullCalendar.formatDate(event.start, 'yyyy-MM-dd');
                           view.element.find('.fc-day[data-date="' + dateString + '"]').css('background', '#ff0000').append().attr("id",id).attr("class","timedetail");
                            }        

                       else if (total_hour >=calculation || test==3) {
                           var dateString = $.fullCalendar.formatDate(event.start, 'yyyy-MM-dd');
                           view.element.find('.fc-day[data-date="' + dateString + '"]').css('background', '#25DC44').append().attr("id",id).attr("class","timedetail");
                            }

                       else {

                          var dateString = $.fullCalendar.formatDate(event.start, 'yyyy-MM-dd');
                           view.element.find('.fc-day[data-date="' + dateString + '"]').css('background', '#ff0000').attr("id",id).attr("class","timedetail");
                       }
                   }

         
           });
    });

</script>
<script>
    $(document).ready(function(){
      $(".timedetail").click(function(e){
        // e.preventDefault();
        debugger
        var attendance_id = $(this).attr('id');
        $.ajax({
           'url': "{% url "employee:date-time-attendence-view" %}",
           'type': "POST",
           'data': {
               'attendance_id':attendance_id,
               'csrfmiddlewaretoken': '{{ csrf_token }}',
           },

           success: function( data, textStatus, jQxhr )
           {
                $("#attendence_model").html(data);
                $("#myModal").modal();
            },
            error: function( jqXhr, textStatus, errorThrown ){
                console.log( errorThrown );
            }
        });
        
      });
    });
    
  </script>

<body>
      
<div id='wrap'>

<div id='calendar'></div>


<div style='clear:both'></div>
</div>


</body>
{% endblock %}
