{% extends 'base.html' %}
{% load static %}
{% load date_time_diff_tags %}
{% block content %}

            

<script>
    
$(document).ready(function() {
    var geodata = "{{ result | safe }}";
    $('#calendar').fullCalendar({
            defaultDate: '2019-06-12',
            defaultView: 'month',
            editable: true,
            events: 
            [
                {% for data in result %}
                    
                    {  
                        'title' :"{{data.title}}",
                        'date'  :"{{data.date}}",

                    }
                    {% if not forloop.last %},{% endif %}
                {% endfor %}

                ],
                    eventRender: function (event, element, view) {
                        var a = event.title
                        var b = a.replace(':','.')
                        var title = parseFloat(b)
                        var calculation = parseFloat("9:00")
                        if (title >=calculation ) {
                            var dateString = $.fullCalendar.formatDate(event.start, 'yyyy-MM-dd');
                            view.element.find('.fc-day[data-date="' + dateString + '"]').css('background', '#25DC44');                        
                                       
                            }

                        else {

                           var dateString = $.fullCalendar.formatDate(event.start, 'yyyy-MM-dd');
                            view.element.find('.fc-day[data-date="' + dateString + '"]').css('background', '#ff0000'); 
                        }
                    }

            //    eventRender: function(event, element) {
            //         // debugger
            //         var a = event.title
            //         var b = a.replace(':','.')
            //         var title = parseFloat(b)
            //         var calculation = parseFloat("9:00")

            //         if (title >=calculation ) {
            //             // debugger
            //             element.css({
            //                 'background-color':'#25DC44',
            //                 'border-color': '#25DC44'
            //             });
            //         }
            //         else {

            //             element.css({
            //                 'background-color':'#ff0000',
            //                 'border-color': '#ff0000'
            //             });

            //         }

            //     } 
         


        });
    });

</script>

<body>
      


<div id='wrap'>

<div id='calendar'></div>


<div style='clear:both'></div>
</div>


</body>
{% endblock %}
