{% extends 'base.html' %}
{% load static %}
{% load date_time_diff_tags %}
{% block content %}

            

<script>
    
$(document).ready(function() {
    var geodata = "{{ result | safe }}";
    $('#calendar').fullCalendar({
            defaultDate: '2019-06-12',
            defaultView: 'month',
            editable: true,
            events: 
            [
                {% for data in result %}
                    
                    {  
                        'title' :"{{data.title}}",
                        'date'  :"{{data.date}}"
                    }
                    {% if not forloop.last %},{% endif %}
                {% endfor %}
                ],
               eventRender: function(event, element) {
                    if (event.title == '9:00') {
                        element.css({
                            'background-color': '#25DC44',
                            'border-color': '#25DC44'
                        });
                    }
                    else{

                        element.css({
                            'background-color': '#E81328',
                            'border-color': '#E81328'
                        });

                    }

                } 

        });
    });

</script>

<body>
      
<!-- {% for attendance in result %}
<tr><a class="calculation" href="" data-employee-id="{{ attendance.employee_id }}" data-date="{{ attendance.date }}"data-title="{{ attendance.title }}"></a>    
<td>{{ attendance.title }}</td>
<td>{{ attendance.date }}</td>
</tr>
{% endfor %} -->

<div id='wrap'>

<div id='calendar'></div>
<!-- <div id='external-events'> -->
       
<!-- <div class='fc-event' style="background-color: red;" data-color='red'></div></div> -->

<div style='clear:both'></div>
</div>


</body>
{% endblock %}
