{% extends 'base.html' %}
{% block content %}


<body>
    
    <div>
        Start Date: <input type="text" class='datepicker' />
        End Date: <input type="text" class='datepicker' />
   
    </div>
</body>

<script type="text/javascript">
    $(function () {
        var unavailableDay = 0; 
 
        function disableDays(date) {
            var day = date.getDay();
            return [(day != unavailableDay), ""];
        }
 
        $('.datepicker').datepicker({
            beforeShowDay: disableDays,
            dateFormat: 'yy-mm-dd'
        });
 
    });
</script>
{% endblock %}