{% extends 'base.html' %}
{% load static %}
{% block content %}
    <h3>Lease Time Requests List</h3>
    <br>
    <!-- <p class ="no_record_in_table"></p> -->
    <div class="search-container">
     <table class = "table" id="myTable1" border="2">
        <thead>
          <tr>
            <th>Sno.</th>          
            <th>User</th>
            <th>Date</th>
            <th>Leave Request</th>
          </tr>
        </thead>
            <tbody>
                {% for leave in object_list %}
                  <tr>
                    <td></td>    
                    <td>{{ leave.user }}</td>
                    <td>{{ leave.date }}</td>
                    
                  
                    <td>
                     {% if leave.empatt_leave_status != 3  %}
                      <button class="leave btn btn-success" data-leave-id="{{leave.id}}" data-leave-user="{{leave.user}}"data-leave_type="3">Approve</button>
                     {% endif %}  
                     {% if leave.empatt_leave_status != 4  %} 
                     <button class="leave btn btn-danger" data-leave-id="{{leave.id}}" data-leave-user="{{leave.user}}" data-leave_type="4">Reject</button>
                    {% endif %} 
                      
                       {{ leave.get_empatt_leave_status_display }}

                  </td>
              
                  </tr>
                {% endfor %}
            </tbody>
      </table>
    </div>


<script>
    $(".leave").on('click', function (e) {
      e.preventDefault();
      debugger
      var leave_id = $(this).data("leave-id");
      var leave_type = $(this).data("leave_type");
      var leave_user = $(this).data("leave-user");
      $.ajax({
        url: "{% url "employee:approved_leave" %}",
        'type': "POST",
        data: {
          'leave_id': leave_id,
          'leave_type':leave_type,
          'csrfmiddlewaretoken': '{{ csrf_token }}',
        },
      success: function(response) {
           
            if(response.status=="success"){
              if(leave_type==3){
                alert("Accept leave request for "+leave_user)
                location.reload();
                }
              else{
                alert("Reject leave request for "+leave_user)
                location.reload();
                  }
                
              }

            }
      });

    });
  </script>
<style type="text/css">
  body
{
    counter-reset: Serial;           
}

table
{
    border-collapse: separate;
}

tr td:first-child:before
{
  counter-increment: Serial;     
  content: counter(Serial); 
}
</style>

{% endblock %}