{% extends 'base.html' %}
{% load static %}
{% block content %} 
    <div class="search-container">
      <div> 
        <table class = "table" id="myTable1" border="2">
          <thead>
            <tr>
              <th>Time Details</th>
              <th>User</th>
              <th>Employee ID</th>
              <th>Date</th>
              <th>Calculation</th>
              
              
              {% if user.is_superuser  %}
              <th scope="col" class="action-checkbox-column">
              <div class="text"><span><input type="checkbox" id="checkall"></span></div>
              <div class="clear"></div>
              {% endif %}
              </th>   
            </tr>
          </thead>
          <tbody class="mychkboxs">
            {% for attendance in attendances_data %}
              <tr>
                <td><a class="attendence_datetime" href="" data-id="{{ attendance.id }}">View</a></td>
                <td><p>{{ attendance.user }}</p></td>
                <td>{{ attendance.employee_id }}</td>
                <td>{{ attendance.date }}</td>
                <td><p>{{ attendance.date_time_diffrence }}</p></td> 
                 {% if user.is_superuser  %}
                <td class="action-checkbox">
                  <input type="checkbox" name="record" value="{{ attendance.pk }}" class="action-select" data-employee-id="{{ attendance.employee_id }}" data-date="{{ attendance.date|date:'Y-m-d' }}">
                  {% endif %}
                </td>
                
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      {% if user.is_superuser  %}
      <button class="btn btn-success delete-row" id="delrow" onclick="return delrow();">Delete row</button>
       {% endif %}
    </div>

  <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-body" id="attendence_model">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
  </div>



  <script>
    $(document).ready(function(){
      $(".attendence_datetime").click(function(e){
        e.preventDefault();
        var attendance_id = $(this).data("id");
        $.ajax({
           'url': "{% url "employee:date-time-attendence-view" %}",
           'type': "POST",
           'data': {
               'attendance_id':attendance_id,
               'csrfmiddlewaretoken': '{{ csrf_token }}',
           },

           success: function( data, textStatus, jQxhr )
           {
                $("#attendence_model").html(data);
                $("#myModal").modal();
            },
            error: function( jqXhr, textStatus, errorThrown ){
                console.log( errorThrown );
            }
        });
        
      });
    });
  
  </script>
<!-- <script>
  $(document).ready(function() {
    $('#delrow').hide();
      $('.mychkboxs').mouseup(function() {
          $('input[type="checkbox"]').click(function(){
          if($('input[type="checkbox"]:checked').length > 0)
            $('#delrow').show();
          else
            $('#delrow').hide();

      });
  });
});      
</script> -->

{% endblock %}

