{% extends 'base.html' %}
{% load static %}
{% block content %}
    <h2>Company Employee Details</h2>
    <div class="search-container">
     <table class = "table" id="myTable1" border="2">
        <thead>
          <tr>
          
            <th>user</th>
            <th>Date</th>
            <th>total working hour</th>
            <th>Leave Request</th>
          </tr>
        </thead>
            <tbody>
                {% for leave in object_list %}
                  <tr>    
                    <td>{{ leave.user }}</td>
                    <td>{{ leave.date }}</td>
                    <td>{{ leave.date_time_diffrence }}</td>
                  
                  
                    <td>
                     {% if leave.empatt_leave_status != 3  %}
                      <button class="leave btn btn-success" data-leave-id="{{leave.id}}" data-leave-user="{{leave.user}}"data-leave_type="3">Approve</button>
                     {% endif %}  
                     {% if leave.empatt_leave_status != 4  %} 
                     <button class="leave btn btn-danger" data-leave-id="{{leave.id}}" data-leave-user="{{leave.user}}" data-leave_type="4">Reject</button>
                    {% endif %} 
                      
                       {{ leave.get_empatt_leave_status_display }}

                  </td>

              
                  </tr>
                {% endfor %}
            </tbody>
      </table>
    </div>


<script>
    $(".leave").on('click', function (e) {
      e.preventDefault();
      var leave_id = $(this).data("leave-id");
      // debugger
      var leave_type = $(this).data("leave_type");
      var leave_user = $(this).data("leave-user");
      $.ajax({
        url: "{% url "employee:approved_leave" %}",
        'type': "POST",
        data: {
          'leave_id': leave_id,
          'leave_type':leave_type,
          'csrfmiddlewaretoken': '{{ csrf_token }}',
        },
      success: function(response) {
           
            if(response.status=="success"){
              if(leave_type==3){
                alert("Accept leave request for "+leave_user)
                location.reload();
                }
              else{
                alert("Reject leave request for "+leave_user)
                location.reload();
                  }
                
              }

            }
      });

    });
  </script>


{% endblock %}