{% extends 'base.html' %}
{% block content %}
           <h3 class="employeehead">Allot Leaves Of The Year</h3>

<div class="card cardalot">
  <div class="row justify-content-center">
    <div class="col=8">
      <div class="card-body">
          {{leave_form.errors}}
          
          <form method="post" novalidate >
                {% csrf_token %}

                {% if form.errors %}
                    
                    {% for error in form.non_field_errors %}
                        <div class="alert alert-danger">
                            <strong>{{ error|escape }}</strong>
                        </div>
                    {% endfor %}
                {% endif %}
                {% for field in form %}
                    <div class="fieldWrapper col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        {{ field.errors }}
                        {{ field.label_tag }} {{ field }} 
                    </div>
                {% endfor %}
                
                
                <button class="background_colorbtn" type="submit">Submit</button>
          </form>
      </div>
    </div>
  </div>
</div>

<div class="table-responsive">
      <table class = "table table-stripped leavetable" id="myTable1">
        <thead>
          <tr>
            <th>S.no.</th>
            <th>Username</th>
            <th>Year</th>
            <th>Start month</th>
            <th>Leave</th>
            <th>Bonus Leave</th>
            <th>Allotted Leave</th>
            <!--<th>Remaining Leave</th>-->
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
            {% for leave in leave_list %}
              <tr>    
                <td>{{ forloop.counter }}</td>
                <td>{{ leave.user }}</td>
                <td>{{ leave.year }}</td>
                <td>{{ leave.month }}</td>
                <td>{{ leave.leave }}</td>
                <td>{{ leave.bonusleave }}</td>
                <td>{{ leave.total_allotted_leave }}</td>
                <!--<td>{{ leave.get_full_leave }}</td>-->
                <td><a href="{% url 'employee:update_leave' leave.id %}"><span class="glyphicon glyphicon-pencil" ></span></a></td>
                    
              </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>

{% endblock %}



