{% extends 'base.html' %}
{% load static %}
{% block content %}
    <h3 class="employeehead">Company Employee Details</h3>
    <!-- <p class ="no_record_in_table"></p> -->
  <div class="card">
    <div class="search-container">
       <div class="table-responsive">
     <table class = "table table-striped" id="myTable1">
        <thead>
          <tr>
            <th>Sno.</th>
            <th>User</th>
            <th>Date</th>
            <th>Total Working Hour</th>
            <th>Leave Request</th>
          </tr>
        </thead>
            <tbody>
                {% for leave in object_list %}
                  <tr>
                    <td></td>    
                    <td>{{ leave.user }}</td>
                    <td>{{ leave.date }}</td>
                    <td>{{ leave.date_time_diffrence }}</td>
                  
                  
                    <td>
                     {% if leave.empatt_leave_status != 3  %}
                      <button class="leave btn btn-success" data-leave-id="{{leave.id}}" data-leave-user="{{leave.user}}"data-leave_type="3">Approve</button>
                     {% endif %}  
                     {% if leave.empatt_leave_status != 4  %} 
                     <button class="leave btn btn-danger" data-leave-id="{{leave.id}}" data-leave-user="{{leave.user}}" data-leave_type="4">Reject</button>
                    {% endif %} 
                      
                       {{ leave.get_empatt_leave_status_display }}

                  </td>

              
                  </tr>
                {% endfor %}
            </tbody>
      </table>
    </div>
    </div>
  </div>

<style type="text/css">
  body
{
    counter-reset: Serial;           
}

table
{
    border-collapse: separate;
}

tr td:first-child:before
{
  counter-increment: Serial;     
  content: counter(Serial); 
}
</style>
{% endblock %}

{% block extra_js %}
  {{block.super}}
  <script>
      $(".leave").on('click', function (e) {
        e.preventDefault();
        var leave_id = $(this).data("leave-id");
        var leave_type = $(this).data("leave_type");
        var leave_user = $(this).data("leave-user");
        $.ajax({
          url: "{% url "employee:approved_leave" %}",
          'type': "POST",
          data: {
            'leave_id': leave_id,
            'leave_type':leave_type,
            'csrfmiddlewaretoken': '{{ csrf_token }}',
          },
        success: function(response) {
             
              if(response.status=="success"){
                if(leave_type==3){
                  alert("Leave Request For "+leave_user+ " Is Accepted")
                  location.reload();
                  }
                else{
                  alert("Leave Request For "+leave_user+ " Is Rejected")
                  location.reload();
                    }
                  
                }

              }
        });

      });
    </script>
  }
{% block extra_js %}