{% extends 'base.html' %}
{% load widget_tweaks %}
{% load static %}
{% block content %}

<div class="card profile-card1">
	 {% if user.profile %}	
		<a href="{% url 'employee:profile_update' user.profile.id %}" class="sameicon timeicon"> <span class="glyphicon glyphicon-pencil"></span></a>
        <img src="{{ request.profile.profile_image.url }}" class="imgnav">
     {% else %}
        <img src="{% static 'img/avatar-mini-2.jpg' %}">
     {% endif %}  
	 	<h2>Welcome : {{ user.username }}</h2>

	 	<div class="row">
	 		<label class="col-xs-4 col-md-2 plmob-0">
	 			<b> Username:</b>
	 		</label>
	 		<div class="col-xs-7 col-md-8 prmob-0">
	 			<span> {{ user.username }} </span>
	 		</div>
	 	</div>

	 	<div class="row">
	 		<label class="col-xs-4 col-md-2 plmob-0">
	 			<b> First name:</b>
	 		</label>
	 		<div class="col-xs-7 col-md-8 prmob-0">
	 			<span> {{ user.first_name }} </span>
	 		</div>
	 	</div>

	 	<div class="row">
	 		<label class="col-xs-4 col-md-2 plmob-0">
	 			<b> Last name:</b>
	 		</label>
	 		<div class="col-xs-7 col-md-8 prmob-0">
	 			<span> {{ user.last_name }} </span>
	 		</div>
	 	</div>

	 	<div class="row">
	 		<label class="col-xs-4 col-md-2 plmob-0">
	 			<b> Email:</b>
	 		</label>
	 		<div class="col-xs-7 col-md-8 prmob-0">
	 			<span> {{ user.email }} </span>
	 		</div>
	 	</div>

	 	<div class="row">
	 		<label class="col-xs-4 col-md-2 plmob-0">
	 			<b> ID:</b>
	 		</label>
	 		<div class="col-xs-7 col-md-8 prmob-0">
	 			<span> {{ user.profile.employee_id }} </span>
	 		</div>
	 	</div>

	 	<div class="row">
	 		<label class="col-xs-4 col-md-2 plmob-0">
	 			<b> Contact:</b>
	 		</label>
	 		<div class="col-xs-7 col-md-8 prmob-0">
	 			<span> {{ user.profile.contact_no }} </span>
	 		</div>
	 	</div>

	 	<div class="row">
	 		<label class="col-xs-4 col-md-2 plmob-0">
	 			<b> Date of Birth:</b>
	 		</label>
	 		<div class="col-xs-7 col-md-8 prmob-0">
	 			<span> {{ user.profile.date_of_birth}} </span>
	 		</div>
	 	</div>

	 	<div class="row">
	 		<label class="col-xs-4 col-md-2 plmob-0">
	 			<b> Date of Joining:</b>
	 		</label>
	 		<div class="col-xs-7 col-md-8 prmob-0">
	 			<span> {{ user.profile.date_of_joining}} </span>
	 		</div>
	 	</div>

	 	<div class="row">
	 		<label class="col-xs-4 col-md-2 plmob-0">
	 			<b> Total Yearly:</b>
	 		</label>
	 		<div class="col-xs-7 col-md-8 prmob-0">
	 			<span> {% if total_yearly %} {{ total_yearly }} {% else %} 0  {% endif %} </span>
	 		</div>
	 	</div>

	 	<div class="row">
	 		<label class="col-xs-4 col-md-2 plmob-0">
	 			<b> Available Leave (Current Month)</b>
	 		</label>
	 		<div class="col-xs-7 col-md-8 prmob-0">
	 			<span> {% if total_available_leave %} {{ total_available_leave }}{% else %} 0  {% endif %} </span>
	 		</div>
	 	</div>

	 	<div class="row">
	 		<label class="col-xs-4 col-md-2 plmob-0">
	 			<b> Total Paid Leave:</b>
	 		</label>
	 		<div class="col-xs-7 col-md-8 prmob-0">
	 			<span> {% if get_taken_leave.leave__sum %} {{ get_taken_leave.leave__sum }}{% else %} 0  {% endif %} </span>
	 		</div>
	 	</div>

	 	<div class="row">
	 		<label class="col-xs-4 col-md-2 plmob-0">
	 			<b> Total UnPaid Leave:</b>
	 		</label>
	 		<div class="col-xs-7 col-md-8 prmob-0">
	 			<span> {% if get_taken_unpaid_leave.leave__sum %} {{ get_taken_unpaid_leave.leave__sum }}{% else %}  0 {% endif %} </span>
	 		</div>
	 	</div>

	    

	<!--<p>Total Yearly : {% if total_yearly %} {{ total_yearly }} {% else %} 0  {% endif %}</p>
	<p>Available Leave (Current Month) : {% if total_available_leave %} {{ total_available_leave }}{% else %} 0  {% endif %}</p>
	<p>Total Paid Leave : {% if get_taken_leave.leave__sum %} {{ get_taken_leave.leave__sum }}{% else %} 0  {% endif %}</p>
	<p>Total UnPaid Leave : {% if get_taken_unpaid_leave.leave__sum %} {{ get_taken_unpaid_leave.leave__sum }}{% else %}  0 {% endif %}</p>-->
	
</div>
{% endblock %}


<style>


</style>