{% extends 'base.html' %}
{% load staticfiles %}    
{% load date_time_diff_tags %}
{% block content %} 

{% if messages %}
  <ul class="messages">
    {% for message in messages %}
      <li class="{{ message.tags }}">{{ message }}</li>
    {% endfor %}
  </ul>
{% endif %}
    <div class="search-container">
      <div> 
        <h3> Employee Leave List </h3>
          <!-- <p class = "no_record_in_table"></p> -->
        <br>

        <table class = "table" id="myTable1" border="2">
          <thead>
            
            <tr>
              <th>Date</th>
              <th>Calculation</th>
              <th>Leave Request</th> 
              <th>Status</th>
            </tr>
          </thead>
          <tbody>
            {% for attendance in attendance_data %}
              <tr>
                <td>{{ attendance.date}}</td>
                
                
                <td><p>{{ attendance.date_time_diffrence }}</p></td> 
              
                
                 <td> 
                  {% if attendance.empatt_leave_status == 1 %}
                  <input type="checkbox" class="chkboxs" value="{{ attendance.date|date:'Y-m-d'}}" >
                  {% endif %}
                 </td>
                
                <td>
                 {{ attendance.get_empatt_leave_status_display }}
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
  <input type="hidden" id="emails" value="" name="emails">
  <div class="form-group col-sm-12" id="selectemail"></div>
  <div class = "btn-group">
   
      <button type = "button" class = "btn btn-default dropdown-toggle" id="email-button" data-toggle = "dropdown"><span class = "caret" ></span>Select Email Option</button>
     
        <ul class = "dropdown-menu drop" role = "menu">
          {% for em in emails %}    
          <li><a class="emailtext" id="demo">{{ em }}</a></li>
          {% endfor %}
      
        </ul>
  </div>

  <button class="btn btn-success submit-email-btn" id="checkrow"  data-emails[]="emails" onclick="return checkrow();">submit</button>          

<script>
  function checkrow() {
    var leaveRequestArr =[];
     if (!$("input:checkbox").is(":checked"))  {
        
            alert("Please tick checkbox if you want to send leave request");
            location.reload();
            return false;
            }
             
              else($(document)).on("click","#checkrow",function(e){
                 
                  e.preventDefault();
                  var emails = Array.from( new Set(email)) 
                  $(".chkboxs:checked").each(function () {
                    leaveRequestArr.push($(this).val());

                       });
                     $.ajax({
                     'url': '/request/leave/',
                     'type': "POST",
                     'dataType': 'json',
                     'data': {
                         'leaveRequestArr': leaveRequestArr,
                         'emails[]': emails ,
                         'csrfmiddlewaretoken': '{{ csrf_token }}',
                     },
                     success: function(response) {
                        if(response.status=="success"){
                            alert("Request leave successfull")
                            location.reload();
                            }

                        }                    
                                                       
                       
                    });

                  }) 
          } 
   

 var email = [] ;

    function add_email(){

      $("#emails").val();
      var emails = $('#selectemail').children();

       for(i=0;i<emails.length;i++)
          {

            email.push($(emails[i]).text()+'');
   
          }


        $("#emails").val(email);

    }

    $(document).on('click', '.removeemailtext', function(){
      $('.drop').append('<li><a class="emailtext" id="demo">'+$(this).text()+'</a></li>');
      $(this).remove();
      add_email();
    });

    $(document).on('click', '.emailtext', function(){
      $(this).remove();
      $("#selectemail").append('<div class="removeemailtext btn btn-primary">'+$(this).text()+'</div>');
      add_email();
    });

  $(document).ready(function() {
    $('#checkrow').hide();
      $('.chkboxs').mouseup(function() {
          $('input[type="checkbox"]').click(function(){
          if($('input[type="checkbox"]:checked').length > 0)
            $('#checkrow').show();
          else
            $('#checkrow').hide();

      });
  });
});
 $(document).ready(function() {
    $('#email-button').hide();
      $('.chkboxs').mouseup(function() {
          $('input[type="checkbox"]').click(function(){
          if($('input[type="checkbox"]:checked').length > 0)
            $('#email-button').show();
          else
            $('#email-button').hide();

      });
  });
})


    // $(document).on('click', '.submit-email-btn', function(){
    //     var emails = Array.from( new Set(email))  
    //     $.ajax({
    //       type: 'POST',
    //       url: '/request/leave/',
    //       data: {
    //         'emails[]': emails , 
    //          'csrfmiddlewaretoken':'{{ csrf_token }}'},
    //     });


        // $.post("{% url 'employee:request_leave' %}", data:{email:emails, csrfmiddlewaretoken:'{{ csrf_token }}'})
        // }) ;
    </script>


{% endblock %}