
{% extends 'base.html' %}

{% load staticfiles %}    
{% load date_time_diff_tags %}

{% block content %} 
    <div class="search-container">
      <div> 
        <table class = "table" id="myTable1" border="2">
          <thead>
            <tr>
              
              <th>Date</th>
              <th>Calculation</th>
              <th>leave Request</th> 
            </tr>
          </thead>
          <tbody>
            {% for attendance in attendances_data %}
              <tr>
                <td>{{ attendance.date }}</td>
                
                
                <td><p>{% get_date_time_diff_tag request attendance.date attendance.user %}</p></td> 
                
                <td><input type="checkbox" data-checkeddate='{{ attendance.date }}' class="chkboxs"></td>

              </tr>
            {% endfor %}
          </tbody>
        </table>
<script>
    
      var leaveRequestArr =[];
              // var date = Date.parse(leaveRequestArr);

              $(document).on("click","#checkrow",function(){
                 
                  $(".chkboxs:checked").each(function () {
                    // debugger
                    leaveRequestArr.push($(this).data("checkeddate"));
                    // leaveRequestArr.ToString("dd/MM/yyyy")
                  });
                    // debugger
                 
                     $.ajax({
                     'url': '/request/leave/',
                     'type': "POST",
                     'dataType': 'json',
                     'data': {
                         'leaveRequestArr': leaveRequestArr,
                         'csrfmiddlewaretoken': '{{ csrf_token }}',
                     },
                     success: function(response) {
                        if(response.status=="success"){
                            // alert("All record is Successfully Deleted!")
                            alert("Request leave successfull")
                            location.reload();
                            }

                        }
                    
                     
       })
   });
      
</script>
<button class="btn btn-success delete-row" id="checkrow">submit</button>
{% endblock %}