{% extends 'base.html' %}
{% load staticfiles %}    
{% load date_time_diff_tags %}
{% block content %} 

{% if messages %}
  <ul class="messages">
    {% for message in messages %}
      <li class="{{ message.tags }}">{{ message }}</li>
    {% endfor %}
  </ul>
{% endif %}
    <div class="search-container">
      <div> 
        <h3> Employee Leave list </h3>
        <br>

        <table class = "table" id="myTable1" border="2">
          <thead>
            
            <tr>
              <th>Date</th>
              <th>Calculation</th>
              <th>leave Request</th> 
              <th>Status</th>
            </tr>
          </thead>
          <tbody>
            {% for attendance in attendance_data %}
              <tr>
                <td>{{ attendance.date}}</td>
                
                
                <td><p>{{ attendance.date_time_diffrence }}</p></td> 
              
                <td>
                  {% if attendance.emp_leave_type == 1 %}
                  <input type="checkbox" class="chkboxs" value="{{ attendance.date|date:'Y-m-d'}}">
                  {% endif %}
                </td>
                <td>
                 {{ attendance.get_emp_leave_type_display }}
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
<script>



            var leaveRequestArr =[];

    function checkrow() {
     if (!$("input:checkbox").is(":checked"))  {
            debugger
            alert("Please tick checkbox if you want to send leave request");
            location.reload();
            return false;
              }
             
              else($(document)).on("click","#checkrow",function(e){
                  debugger
                  e.preventDefault();
                  $(".chkboxs:checked").each(function () {
                    leaveRequestArr.push($(this).val());
                  });
                     $.ajax({
                     'url': '/request/leave/',
                     'type': "POST",
                     'dataType': 'json',
                     'data': {
                         'leaveRequestArr': leaveRequestArr,
                         'csrfmiddlewaretoken': '{{ csrf_token }}',
                     },
                     success: function(response) {
                        if(response.status=="success"){
                            alert("Request leave successfull")
                            location.reload();
                            }

                        }                    
                                                       
                       
                    });

                  }) 
          } 

</script>
<button class="btn btn-success delete-row" id="checkrow" onclick="return checkrow();">submit</button>

{% endblock %}