{% extends 'base.html' %}
{% block content %}

<h2>leave</h2>

    <form>
    <div class="col-sm-6">

    <div class="form-group col-sm-12">
      <label for="sel1">Select leave type :</label>
      <select class="form-control">
        <option value="0">----</option>
        <option value="fullday">Full day</option>
        <option value="halfday">Half day</option>
      </select>
    </div>


    <div class="form-group col-sm-3">
      <label for="sel1">Start Date:</label>
      <input type="text" class="form-control" id="startdate">
    </div>
    <div class="form-group col-sm-3">
      <label for="sel1">Time:</label>
      <input type="text" class="form-control" id="starttime">
    </div>

    <div class="form-group col-sm-3">
      <label for="sel1">End Date:</label>
      <input type="text" class="form-control" id="enddate">
    </div>


    <div class="form-group col-sm-3">
      <label for="sel1">Time:</label>
      <input type="text" class="form-control" id="endtime">
    </div>


    
    </div> <!--end of col sm 6-->
    </form>

{% endblock %}

<!--java script -->
{% block script %}
{{ block.super }}
    <script type="text/javascript">
      $( function() {
        $( "#startdate" ).datepicker({ 
            dateFormat: 'yy-mm-dd',
            minDate: 0, 
            onSelect: function(date) {
               $("#enddate").datepicker('option', 'minDate', date);
             }
        });

        $( "#enddate" ).datepicker({ 
            dateFormat: 'yy-mm-dd',
            // minDate: 0,
        });

        $( "#starttime" ).timepicker({ 
            timeFormat: 'h:mm p',
            // onSelect: function(time) {
            //     debugger
            //    $("#endtime").datepicker('option', 'minDate', time);
            //  }
        });

        $( "#endtime" ).timepicker({ 
            timeFormat: 'h:mm p',
        });
        
      } );
    </script>

{% endblock %}