{% extends 'base.html' %}
{% load widget_tweaks %}
{% block content %}
<style type="text/css">
  .errorlist{
    color:red;
    list-style: none;
  }
</style>

{% if messages %}
    <ul class="messages">
        {% for message in messages %}
            
                {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %} 
                  <div class="alert alert-danger">
                      <strong>{{ message }}</strong>

                  </div>

                {% else %}
                     
                        <div class="alert alert-success">
                            <strong>{{ message }}</strong>

                        </div>   
                {% endif %}
          
        {% endfor %}
    </ul>
{% endif %}



    <h2>Leave</h2>
    <!-- {% if message %}
    <div class="alert alert-danger">
      {{ message }}
    </div> 
    {% endif %} -->
    {% if form.errors %}
        {% for field in form %}
            {% for error in field.errors %}
                <div class="alert alert-danger">
                    <strong>{{ field.label }} : {{ error|escape }}</strong>
                </div>
            {% endfor %}
        {% endfor %}
        {% for error in form.non_field_errors %}
            <div class="alert alert-danger">
                <strong>{{ error|escape }}</strong>
            </div>
        {% endfor %}
    {% endif %}
    <form action="" method="POST"  novalidate="">
    {% csrf_token %}
    <div class="col-sm-6">

    <div class="form-group col-sm-12">
      <label for="sel1">Select leave type :</label>
      {{ form.leave_type|add_class:"form-control" }}
    </div>

    <div class="form-group col-sm-3" id="startdate">
      <label for="sel1">Start Date:</label>
      {{ form.startdate|add_class:"form-control" }}
      
    </div>
    <div class="form-group col-sm-3" id="starttime">
      <label for="sel1">Time:</label>
      {{ form.starttime|add_class:"form-control" }}
    </div>

    <div class="form-group col-sm-3" id="enddate">
      <label for="sel1">End Date:</label>
      {{ form.enddate|add_class:"form-control" }}
    </div>

    <div class="form-group col-sm-3" id="endtime">
      <label for="sel1">Time:</label>
      {{ form.endtime|add_class:"form-control" }}
    </div>

    <div class="form-group col-sm-12" id="reason">
      <label for="sel1">Reason:</label>
      {{ form.reason|add_class:"form-control" }}
    </div>
    
    <input type="hidden" id="emails" value="" name="emails">
    <div class="form-group col-sm-12" id="selectemail"></div> <!-- get email id-->

  <div class="col-md-12"><button class="btn btn-success" data-id="selectemail">Submit</button></div>
  
  </div> <!--end of col sm 6-->
  
  </form>
    
      
  
<div class = "btn-group">
   
   <button type = "button" class = "btn btn-default dropdown-toggle" data-toggle = "dropdown"><span class = "caret"></span>Select Email Option</button>
     
      <ul class = "dropdown-menu drop" role = "menu">
          {% for em in emails %}    
          <li><a class="emailtext" id="demo">{{ em }}</a></li>
          {% endfor %}
      
      </ul>
</div>

{% endblock %}

<!--java script -->
{% block script %}
{{ block.super }}
  <script type="text/javascript">
    function add_email(){
      $("#emails").val();
      var emails = $('#selectemail').children();
      var email = [] ;

       for(i=0;i<emails.length;i++)
          {

            email.push($(emails[i]).text()+'');
   
          }


        $("#emails").val(email);

    }

    $(document).on('click', '.removeemailtext', function(){
      $('.drop').append('<li><a class="emailtext" id="demo">'+$(this).text()+'</a></li>');
      $(this).remove();
      add_email();
    });

    $(document).on('click', '.emailtext', function(){
      $(this).remove();
      $("#selectemail").append('<div style="margin: 2px;" class="removeemailtext btn btn-primary">'+$(this).text()+'</div>')
      
      add_email();
    });
    $(function(){
      // $('#startdate').hide();
      // $('#enddate').hide();
      // $('#starttime').hide();
      // $('#endtime').hide();
      $('#reason').show();
    $(document).on('change', '#id_leave_type', function(){
      
      $('#id_startdate').val("");
      $('#id_enddate').val("");
      $('#id_starttime').val("");
      $('#id_endtime').val("");

      $('#startdate').hide();
      $('#enddate').hide();
      $('#starttime').hide();
      $('#endtime').hide();
      $('#reason').show();

      if (this.value == "3")
      {
        $('#startdate').show();
        $('#enddate').show();
      }else if (this.value == "2")
      {
        $('#startdate').show();
        $('#enddate').show();
        $('#starttime').show();
        $('#endtime').show();
      }
    })
  });

  </script>
    <script type="text/javascript">
      $( function() {
        $( "#id_startdate" ).datepicker({ 
            dateFormat: 'yy-mm-dd',
              beforeShowDay: function(date){ return [date.getDay() == 6 ||date.getDay() == 5 ||date.getDay() == 4 ||date.getDay() == 3|| date.getDay() == 2 || date.getDay() == 1,""]},

            minDate: 0, 
            onSelect: function(date) {
               $("#id_enddate").datepicker('option', 'minDate', date);
               if($('#id_leave_type').val() == '2')
                 {
                  $("#id_enddate").val($("#id_startdate").val());
                 }
             }

        });

        $( "#id_enddate" ).datepicker({ 
            dateFormat: 'yy-mm-dd',
              beforeShowDay: function(date){ return [date.getDay() == 6 ||date.getDay() == 5 ||date.getDay() == 4 ||date.getDay() == 3|| date.getDay() == 2 || date.getDay() == 1,""]},
            minDate: 0,
            onSelect: function(date) {
               if($('#id_leave_type').val() == '2')
                 {
                  $("#id_startdate").val($("#id_enddate").val());
                 }
             }

        });

      });
    </script>

<script>

// $(document).on("click","#demo",function(){
//    debugger  
//    var checked = $(this).prop('click');

//    if( checked == true){
 
//      $('.mychkboxs').find('input:click').prop('checked', checked);
//    }
//      else if(checked == false){
              
//                 alert("Checkbox is unchecked.");
//               }

// });

</script>

{% endblock %}