{% extends 'base.html' %}
{% block content %}
    <div class="row justify-content-center">
        <div class="col=8">
            <div class="card">
                <div class="card-body">

                    <h2>Update Alloted Leave</h2>
                        <form method="post">
                            {% csrf_token %}
                            {{ form.as_p }}
                            <input type="submit" value="Update">
                        </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


