{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}

<div class="row justify-content-center">
 <div class="col=8">
  <h3 class="employeehead">Employee Details</h3>
  <div class="card">
    <div class="card-body">
     <h2>Update Employee Details</h2>
    {% if form.errors %}
           {% for field in form %}
               {% for error in field.errors %}
                   <div class="alert alert-danger">
                       <strong>{{ field.label }} : {{ error|escape }}</strong>
                   </div>
               {% endfor %}
           {% endfor %}
           {% for error in form.non_field_errors %}
               <div class="alert alert-danger">
                   <strong>{{ error|escape }}</strong>
               </div>
           {% endfor %}
       {% endif %}

       <form class="form-horizontal signup_form sign_form1" method="post" novalidate autocomplete="off">
        {% csrf_token %}
        
        <div class="col-md-6">
          <label>Employee Id :</label>
          {{ form.employee_id }}
        </div>
        <div class="col-md-6">
          <label>First Name:</label>
          {{ form.first_name }}
        </div>
        <div class="col-md-6">
          <label>Last Name :</label>
          {{ form.last_name }}
        </div>
        <div class="col-md-6">
          <label>Contact :</label>
          {{ form.contact_no }}
        </div>
        <div class="col-md-6">
          <label>Designation   :</label>
          {{ form.designation }}
        </div>
        <div class="col-md-6">
          <label>DOB       :</label>
          {{ form.date_of_birth }}
        </div>
        <div class="col-md-6">
          <label>DOJ       :</label>
          {{ form.date_of_joining}}
        </div>
        <div class="col-md-6">
          <label>Team lead   :</label>
          {{ form.teamlead }}
        </div>
        <div class="cardrow">
          <button class="background_colorbtn updatebutton" type="submit">Update</button>
        </div>
       </form>
     </div>
   </div>
 </div>
</div>
{% endblock %}

  {% block extra_js %} 
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/js/bootstrap-datepicker.js"></script>
  {{ block.super}}
  <script>
  
  $(function () {
  $("#id_date_of_birth").datepicker({ 
        autoclose: true, 
        todayHighlight: true,
        format: 'yyyy-mm-dd',
  }).datepicker('update', new Date());
});

$(function () {
  $("#id_date_of_joining").datepicker({ 
        autoclose: true, 
        todayHighlight: true,
        format: 'yyyy-mm-dd',
  }).datepicker('update', new Date());
});

  </script>
{% endblock extra_js %}  
