{% extends 'base.html' %}
{% load widget_tweaks %}
{% load staticfiles %}
{% block content %}
{%if request.user.is_superuser%}
 <h1>Project Information Dashboard</h1>
 <table border="5">
 <thead >
 <th>Client</th>
 <th>Project name</th>
 <th>Project description</th>
 <th>Actions</th>
 </thead>
 {% for projects in project %}
 <tr>
 <td>{{projects.client}}</td>
 <td>{{projects.project_name}}</td>
 <td>{{projects.project_description}}</td>
 <td> <a href="/update_project/{{projects.id}}">UPDATE</a> <a href="/delete_project/{{projects.id}}">DELETE</a></td>
 </tr>
 {% endfor %}
 </table><br>
 <a href="/create_project" class="btn btn-success btn-lg">INSERT NEW PROJECT</a>
  {% endif %}
  {% endblock %}

